.feature {
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.feature-list__item {
  width: calc((100%-90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__picture {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.feature-list__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.feature-list__text {
  color: $secondary-text-color;
  line-height: 1.71;
}
