.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  @extend %sections__title;
}

.team__list {
  display: flex;
}

.team__item {
  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__card {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
}

.team__text {
  margin-bottom: 16px;

  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.19;
}

.team-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.team-social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms $cubic, background-color 250ms $cubic;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}

.team-social-networks__icon {
  fill: currentColor;
}
